body {
  padding: 0;
  margin: 0;
  font-family: Tahoma;
}

header {
  display: flex;
  align-items: center;
  background-color: lightgray;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 10px 0;
}

.title {
  font-size: 25px;
}

header img {
  height: 50px;
  width: 50px;
  margin: 0 20px;
}

.subtitle {
  font-size: 10px;
}

.tab {
  margin: 0 20px;
}

.calculator {
  display: flex;
}

.controls {
  display: flex;
  flex-direction: column;
}

.navigator {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.navigator > div {
  size: 15px;
  margin: 0 10px;
}

.function-tab {
  margin: 0 50px;
}

.delete {
  cursor: pointer;
  color: grey;
  margin-left: 5px;
  padding: 5px;
}

.function-tab input {
  padding: 5px;
  margin: 10px 0;
}

.function-tab > button {
  margin: 10px 0;
  padding: 5px;
}

#function-template {
  display: none
}
