body {
  padding: 0;
  margin: 0;
  font-family: Arial, Tahoma;
}

header {
  display: flex;
  align-items: center;
  background-color: lightgray;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 10px 0;
}

header img {
  height: 50px;
  width: 50px;
  margin: 0 20px;
}

button {
  margin: 15px 0;
  padding: 8px;
  font-size: 15px;
}

#function-template {
  display: none
}

#canvas {
  width: 45%;
  height: 45%;
}

.title {
  font-size: 25px;
}

.subtitle {
  font-size: 10px;
}

.tab {
  margin: 0 20px;
}

.calculator {
  display: flex;
  margin: auto;
  justify-content: ce nter;
}

.controls {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

.navigator {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 22px;
}

.navigator > div {
  size: 15px;
  margin: 0 12px;
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 10%;
  box-shadow: 1px 1px 1px 1px lightgray;
  cursor: pointer;
}

.functions {
  height: 200px;
  overflow-y: auto;
}

.function-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete {
  cursor: pointer;
  color: grey;
  margin-left: 5px;
  padding: 5px;
}

.function-tab input {
  padding: 5px;
  margin: 10px 0;
  font-size: 15px;
}

.function-tab select {
  padding: 5px 0;
  margin: 10px 0;
  font-size: 15px;
}

.window {
  margin: 30px 0;
  text-align: center;
}

.window input {
  width: 60px;
  margin: 10px;
}
